In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn

In [2]:
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

In [3]:
data_train.columns

Index(['id', 'person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_default_on_file',
       'cb_person_cred_hist_length', 'loan_status'],
      dtype='object')

In [4]:
data_train.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0

In [5]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB

In [6]:
data_train.isnull().sum()

id                            0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
loan_status                   0
dtype: int64

In [7]:
feature_cols = data_train.columns.to_list()
print("Number of duplicates in train data:", len(data_train[data_train[feature_cols].duplicated()]), "\n")

Number of duplicates in train data: 0

In [8]:
data_train['person_age'].unique()

array([ 37,  22,  29,  30,  27,  25,  21,  35,  31,  26,  28,  32,  23,
        24,  33,  44,  38,  43,  46,  48,  36,  41,  34,  40,  47,  42,
        51,  50,  39,  56,  60,  49,  58,  54,  45,  59,  65,  53,  55,
        57,  52,  62,  64,  84,  70,  66,  73,  69,  61,  20,  80,  76,
       123])

In [9]:
from scipy import stats
df = data_train[(np.abs(stats.zscore(data_train['person_age'])) < 3)]

In [10]:
data_train

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5.0,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0.0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7.0,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2.0,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2.0,VENTURE,B,15000,11.11,0.20,N,5,0

In [11]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB

In [12]:
data_train = data_train.drop('id', axis = 1)

In [13]:
from sklearn import preprocessing

# Initialize the LabelEncoder
lb = preprocessing.LabelEncoder()

# List of columns to encode
columns_to_encode = ['person_home_ownership', 'loan_intent', 'loan_grade', 'cb_person_default_on_file']

# Apply LabelEncoder to each column
for column in columns_to_encode:
    data_train[column] = lb.fit_transform(data_train[column])


for column in columns_to_encode:
    data_test[column] = lb.fit_transform(data_test[column])

In [14]:
data_train

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,37,35000,3,0.0,1,1,6000,11.49,0.17,0,14,0
1,22,56000,2,6.0,3,2,4000,13.35,0.07,0,2,0
2,29,28800,2,8.0,4,0,6000,8.90,0.21,0,10,0
3,30,70000,3,14.0,5,1,12000,11.11,0.17,0,5,0
4,22,60000,3,2.0,3,0,6000,6.92,0.10,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
58640,34,120000,0,5.0,1,3,25000,15.95,0.21,1,10,0
58641,28,28800,3,0.0,3,2,10000,12.73,0.35,0,8,1
58642,23,44000,3,7.0,1,3,6800,16.00,0.15,0,2,1
58643,22,30000,3,2.0,1,0,5000,8.90,0.17,0,3,0
58644,31,75000,0,2.0,5,1,15000,11.11,0.20,0,5,0

In [15]:
X_train, y_train = data_train.to_numpy()[:, :-1], data_train.to_numpy()[:, -1]

In [16]:
X_train

array([[3.70e+01, 3.50e+04, 3.00e+00, ..., 1.70e-01, 0.00e+00, 1.40e+01],
       [2.20e+01, 5.60e+04, 2.00e+00, ..., 7.00e-02, 0.00e+00, 2.00e+00],
       [2.90e+01, 2.88e+04, 2.00e+00, ..., 2.10e-01, 0.00e+00, 1.00e+01],
       ...,
       [2.30e+01, 4.40e+04, 3.00e+00, ..., 1.50e-01, 0.00e+00, 2.00e+00],
       [2.20e+01, 3.00e+04, 3.00e+00, ..., 1.70e-01, 0.00e+00, 3.00e+00],
       [3.10e+01, 7.50e+04, 0.00e+00, ..., 2.00e-01, 0.00e+00, 5.00e+00]])

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [18]:
base_models = [
    ('rf', RandomForestRegressor(n_estimators=75, random_state=42)),
    ('lr', LinearRegression())
]

# Stacking Regressor with a meta-learner
GB = StackingRegressor(estimators=base_models, final_estimator=LinearRegression(), cv=5)

# Fit the model
GB.fit(X_train, y_train)

StackingRegressor(cv=5,
                  estimators=[('rf',
                               RandomForestRegressor(n_estimators=75,
                                                     random_state=42)),
                              ('lr', LinearRegression())],
                  final_estimator=LinearRegression())

In [19]:
X_test = data_test.iloc[:, 1:].to_numpy()
X_test

array([[2.3e+01, 6.9e+04, 3.0e+00, ..., 3.6e-01, 0.0e+00, 2.0e+00],
       [2.6e+01, 9.6e+04, 0.0e+00, ..., 1.0e-01, 1.0e+00, 4.0e+00],
       [2.6e+01, 3.0e+04, 3.0e+00, ..., 1.3e-01, 1.0e+00, 2.0e+00],
       ...,
       [5.1e+01, 6.0e+04, 0.0e+00, ..., 2.5e-01, 0.0e+00, 2.5e+01],
       [2.2e+01, 3.6e+04, 0.0e+00, ..., 3.9e-01, 1.0e+00, 4.0e+00],
       [3.1e+01, 4.5e+04, 3.0e+00, ..., 4.4e-01, 0.0e+00, 9.0e+00]])

In [20]:
predictions = GB.predict(X_test)

In [21]:
data_test['loan_status'] = GB.predict(X_test)
data_test

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,58645,23,69000,3,3.0,2,5,25000,15.76,0.36,0,2,0.994637
1,58646,26,96000,0,6.0,4,2,10000,12.68,0.10,1,4,0.008575
2,58647,26,30000,3,5.0,5,4,4000,17.19,0.13,1,2,0.681489
3,58648,33,50000,3,4.0,0,0,7000,8.90,0.14,0,7,-0.006140
4,58649,26,102000,0,8.0,2,3,15000,16.32,0.15,1,4,0.052388
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39093,97738,22,31200,0,2.0,0,1,3000,10.37,0.10,0,4,-0.004694
39094,97739,22,48000,0,6.0,1,0,7000,6.03,0.15,0,3,-0.006079
39095,97740,51,60000,0,0.0,4,0,15000,7.51,0.25,0,25,0.021575
39096,97741,22,36000,0,4.0,4,3,14000,15.62,0.39,1,4,0.183293
39097,97742,31,45000,3,6.0,0,1,19450,9.91,0.44,0,9,0.968407

In [22]:
data_test[['id','loan_status']].to_csv('submission.csv', index = False)